@CHARSET "UTF-8";

h2 {
	text-align: center;
	font-family: "Nanum Gothic";
}

td {
	text-align: center;
	font-family: "Nanum Gothic";
	font-size: 14px;
}

th {
	font-family: "Nanum Gothic";
	font-size: 14px;
}

input {
	font-family: "Nanum Gothic";
	font-size: 12px;
}

.inputleft {
	text-align: left;
	border-bottom: solid 1px;
	border-left: solid 1px;
	border-right: solid 1px;
}

textarea {
	font-family: "Nanum Gothic";
	font-size: 12px;
}

.tab {
	border: 1px solid black;
	border-collapse: collapse;
}

.bottom {
	border-bottom: solid 1px;
}

.writeF {
	border-bottom: solid 1px;
	border-left: solid 1px;
	border-right: solid 1px;
}

a:link {color:black; text-decoration:none}
a:visited {color:black; text-decoration:none}
a:active {color:black; text-decoration:none}
a:hover {color:#8f8f8f;}
